body{
    box-sizing: border-box;
    background-color: rgb(200, 200, 200);
}
.container{
    width: 70vw;
    background-color: white;
}
.header{
    margin-bottom: 10px;
}
.header span{
    margin: 0 20px 0 0;
    font-size: 16px;
    color: rgb(119, 118, 118);
    border-right-color: rgb(200, 200, 200);
}
.filter-block{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 5fr 2fr;
    height: 20%;
    margin-bottom: 20px;
    gap: 15px;
}
.head{
    background-color: black;
    margin-right: 15px;
    padding: 5px 0 5px 10px;
    width: 100%;
}
.head span{
    font-size: 16px;
    font-weight: 600;
    margin-right: 10px;
    color: rgb(119, 118, 118);
}
.head .white{
    color: white;
}
.filter-item{
    grid-column: span 3;
}
.man-image{
    width: 100%;
    height: 100%;
}
.filter-card{
    grid-column: span 1;
    align-self: end;
    padding: 70px 0 10px 10px;
    color: rgb(246, 231, 214);
}
.filter-card p{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px;
}
.filter-card span{
    font-size: 14px;
}
.handbags{
    background-image: url(../image/4th.png);
}
.watch{
    background-image: url(../image/3rd.png);
}
.shoes{
    background-image: url(../image/Screenshot\ 2025-11-06\ 172856.png);
}
.second-block{
    display: flex-column;
    flex-wrap: wrap;
    justify-content: space-between; 
}
.card img{
    width: auto;
    height: 70%;
}
.call-us{
    height: 6rem;
    display: flex-column;
    justify-content: center;
    width: 100%;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    margin-top: 1rem;
}
.call-us div{
    border-left: 1px solid rgb(200, 200, 200);
    border-right: 1px solid rgb(200, 200, 200);
    padding: 0 20px;
    text-align: center;
}
th{
    border-bottom-color: rgba(200, 200, 200, 0);
    font-size: 20px;
    font-weight: 500;
}
.footer-text{
    color: white;
    background-color: black;
    font-size: 14px;
    padding: 10px;
    width: 70vw;
    justify-self: center;
}
.for-hover{
    transform: translateY(10%);
}
.for-hover:hover{
    font-weight: 800;
}